
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="default" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
  <f:debug>{_all}</f:debug>
</f:section>
</html>